doctype html
html
  head
    title= title
    link(rel="icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/images/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header(style="display: flex; align-items: center;")
      h2(style="margin-right: 20px;") 株式会社movee
      nav
        ul(style="list-style: none; padding: 0; display: flex; align-items: center;")
          li
            a(href="/#home") ホーム
            | &nbsp;
          li
            a.scroll-link(href="/#service") サービス
            | &nbsp;
          li
            a.scroll-link(href="/#about") 会社情報
            | &nbsp;
          li
            a.scroll-link(href="/#qa") Q&A

          li
            a.contact-button(href="/#contact") お問い合わせ
    block content
    script(src='https://beta.mreactiondata.com/javascripts/dataanalytics.js')